{% extends 'base.html' %}
{%block body_block%}

<style>
    .container{
        padding-top: 10px;
        width: 900px;
    }
    .text
    {
        text-align: justify;
    }
</style>

<div class="container" align="center">
    <h3>about</h3>
    <hr>
    <div class="text">
    <p>This web page is a platform where you can share your images with others. you can  follow, like, share, and download the posts.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur cumque velit libero esse fugit, reiciendis voluptatem eligendi temporibus voluptatum laborum nobis beatae, sit maiores fugiat officiis impedit totam ipsum rem. Reprehenderit doloremque, placeat maxime illum soluta praesentium ipsam sint porro recusandae ad consequatur possimus aut obcaecati repudiandae tempora. Magnam, itaque deleniti consequatur impedit cumque provident vero reprehenderit inventore, vel molestiae laboriosam, adipisci officia quisquam nesciunt cupiditate in soluta quia velit voluptas. Itaque voluptatibus blanditiis quas quisquam quidem impedit magnam dolore aspernatur rem, atque ex molestiae enim quo dolores totam dolor ipsum ad ea. Molestias ipsam consequuntur dolore, perspiciatis necessitatibus laborum.</p>
    </div>

</div>
{% endblock %}