{%extends 'base.html'%}
{% load static %}

{%block body_block %}

<h3> {{values}} </h3>
{% for comment in all_comment %}

{% if post_object.id == comment.comment_on_post%}    
    @{{comment.user}}
    <strong>{{comment.comment_text}}</strong>
    <br>
    
{% endif %}
{% endfor %}


<hr>
{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <!-- {{post_obj.id}} -->
    {{comment_form.as_p}}
    
    <input type="submit" value="comment" class="btn btn-info">
</form>
{% endif %}
<script>
    var commenter ="{{request.user.id}}" 
    document.getElementById('commenter').value = commenter

    var post_id = "{{ post_object.id}} "
    document.getElementById("post_id").value=post_id
</script>

{%endblock%}