{% extends 'base.html' %}
{%block body_block%}

<style>
    #follower {
        text-decoration: none;
        color: black;
        font-size: 20px;
     /*   text-align: justify;     
        width: 100px;   */
        
    }
</style>

<div class="container" align="center" >

<h2> {{user_object}} following </h2>



{% for following in following_list1 %}

<!-- <a href="{{user.dp.url}} "><img src=" {{user.dp.url}} " alt="" width="30px" height="30px"></a>  -->

<a id="following" href="{% url 'account:profile-detail-view' following.id %}"> {{following}} </a>
<br>
<br>

{% endfor %}


</div>
{% endblock %}