{% extends 'base.html' %}

{% block body_block %}


<style>
    #update
    {   
       
        list-style: none;
    }
    #update li 
    {
        padding: 70px;
        display: inline;
        text-align: center;
    }


</style>

<div class="container">
    <h2>{{user.username}} can update post now!</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container" id="update">
   
            <li> <input type="submit" value="update" class="btn btn-primary">    </li>
             <li> <a href="{% url 'account:post-update-view' posts.id %}" class="btn btn-dark"> cancel </a></li>
             
             </div>
    </form>
</div>

{% endblock %}