{% extends 'base.html' %}
{%block body_block%}
<style>
    #update
    {   
       
        list-style: none;
    }
    #update li 
    {
        display: inline;
        text-align: center;
    }
    .helptext
    {
        display: none;
    }

    .container
    {
        width: 450px;
    }

    #id_bio
    {
        height: 20px;
    }

</style>

<div class="container" align="center">
<h2>profile update</h2>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ one_form.as_p }}
    {{ two_form.as_p }}
   <div class="container" id="update">
   
   <li> <input type="submit" value="update" class="btn btn-primary form-control">    </li>
    <li> <a href="{% url 'account:profile-update-view' %}" class="btn btn-dark form-control" style="margin-top:15px;"> cancel </a></li>
    
    </div>
</form>


</div>
{% endblock %}