{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<style>
    #postlength
    {
        list-style: none;
        
    }
 
    #postlength li
    {
        display: inline;
        padding-right:10px;
        float: right;
    }
    p a{
        text-decoration: none;
        color: black;
    }

   /* #cols
    {
        padding-left: 100px;
        text-align: center;
        padding-right: 150px;
        
    }*/

    #cols a img 
    {
        border: 15px rgba(71, 71, 71, 0.103) solid;
        
        margin: 50px;
        border-radius: 20px;
    }
    #cols a img:hover
    {
        border: 15px rgba(71, 71, 71, 0.103) solid;
        box-shadow: black 1px 2px 3px 4px;
        margin: 50px;
        border-radius: 20px;
    }
    #cols a video
    {
        border: 15px rgba(71, 71, 71, 0.103) solid;
        
        margin: 50px;
        border-radius: 20px;
    }
    #cols a video:hover
    {
        border: 15px rgba(71, 71, 71, 0.103) solid;
        box-shadow: black 1px 2px 3px 4px;
        margin: 50px;
        border-radius: 20px;
    }

    /* CSS FOR THE POST EDIT AND DELETE */

      .menu-bar{
        width: 1000px;
        display: inline;
        padding-left: 120px;
      }
        
       .sub-menu ul li a{
        text-decoration: none;
        display: inline;
       }
      
       .menu-bar ul
       {
        display: inline-flex;
        list-style: none;
       }
        
       .sub-menu
       {
        display: none;  
        padding-left: 350px;
        padding-top: 25px;
        }
      
        
        .options:hover .sub-menu
        {
          display: block;
          position:absolute;
              
        }
        .options:hover .sub-menu ul
        {
          display: block;  
          padding: 20px;
          font-size:20px;
          padding-top:15px;
          
             
        }
     
      
        .options:hover .sub-menu ul li #delete:hover
        {
          color: rgb(230, 16, 16);
        }
        .options:hover #edit{
          
          float: left;
          padding-top: 10px;
          padding-bottom: 20px;
        }
      
      /* CSS FOR NOT LOGIN USER */

      #notuser
      {
        width: 500px;
        padding: 100px;
      }

      #notuser ul li {
        list-style: none;
        display: inline-flex;
      }

/*PROFILE*/
 
      #pro{
        width: 600px;
        text-align: justify;
      }
    

      .bio{
        border: 2px rgba(133, 129, 129, 0.116) solid;
        border-radius: 10px;
        padding: 5px;
      }
      .bio:hover
      {
        border: 2px rgba(77, 155, 228, 0.178) solid;

        box-shadow: rgba(77, 155, 228, 0.178) 0 0 0 2px ;
        margin-left: 15px;
        

      }
     
      
      span{
        color:rgb(255, 150, 108);
        font-weight: bolder;
      }

</style>
<div class="container" align="center">

    <h2 style=" text-transform:uppercase"> {{user_profile.user.username }} 's profile  </h2> <hr>

   <a href="{{user_profile.dp.url}}"> <img src="{{user_profile.dp.url}} " alt="" width="200px" height="200px" ></a>
    <br>
    <br>
    <div id="pro">
   <p class="bio"> <span> Name</span> {{user_profile.user}}</p>
  <p class="bio" id="bio"><span>Bio</span> {{user_profile.bio}} </p>
  <p class="bio"><span>Joined</span> {{ user_profile.joined_at}} </p> 
 
    <p class="bio"><span>Posts</span> {{user_post_length}} </p>
    <p class="bio"> <a href="{% url 'account:following_list' user_object.id %}"><span>Following</span> {{user_following}}  </a></p>  
    <p class="bio"><a href="{% url 'account:followers_list' user_object.id %}"><span> Followers </span> {{user_followers}} </a></p>
  </div>
</div>


<br>

{% if not is_follows_this_user %}
<form action="/follow/" method="POST">
    {% csrf_token %}       
     
    {% if user_object.username != user.username %}    
        
            <input type="hidden" value="{{ request.user.id }}" name="follower" id='follow'/>
            <input type="hidden" value="{{ user_object.id }}" name="user" id="user" /> 
            <!-- <input type="hidden" value="follow" name="value" />   -->
            <button type="submit" class="btn btn-info ">follow</button>
        
    {% endif %} 
    
</form>
<br>
{% else %}
<form action="/unfollow/" method="POST">
    {% csrf_token %}       
     
    {% if user_object.username != user.username %}    
        
            <input type="hidden" value="{{ request.user.id }}" name="unfollower" id='unfollow'/>
            <input type="hidden" value="{{ user_object.id }}" name="un_user" id="un_user" /> 
            <!-- <input type="hidden" value="follow" name="value" />   -->
            <button type="submit" class="btn btn-danger ">unfollow</button>
        
    {% endif %} 
    </div>
</form>
{% endif %} 
<br> 
<hr>

<div class="container" id="cols">

    {% for post in user_posts %}

            
    {% if user.id == post.user.id %}
            <div class="menu-bar" align="center">
                <ul>                 
              
                  <li class="options">   
                    <div class="sub-menu">
                        <ul>
                          <li><a id="delete" href="{% url 'account:post-delete-view' post.id %}"> Delete </a></li>
                          <li><a id="edit" href="{% url 'account:post-update-view' post.id %}"> Edit </a></li>
                        </ul>
                    </div>

                    <a href="{% url 'account:post-detail-view' post.id %}">
                        <img id="post" src=" {{post.user_post.url}} " alt=""  width="300px" >
                    </a>
              
                 
                  </li>
                </ul>
              </div>
            {% else %}
            <div class="menu-bar">
                <ul>
                    <li>
                            <a href="{% url 'account:post-detail-view' post.id %}">
                                <img id="post" src=" {{post.user_post.url}} " alt="" width="300px">
                            
                            </a>
                    </li>
                </ul>
            </div>
            {% endif %}
           
    {% endfor %}
    
    {% for posts_video in user_video_posts %}
    {% if user.id == posts_video.user.id %}
    
            <div class="menu-bar" align="center">
                <ul>                 
              
                  <li class="options">   
                    <div class="sub-menu">
                        <ul>
                          <li><a id="delete" href="{% url 'account:post-delete-view' posts_video.id %}"> Delete </a></li>
                          <li><a id="edit" href="{% url 'account:post-update-view' posts_video.id %}"> Edit </a></li>
                        </ul>
                    </div>

                    <a href="{% url 'account:post-detail-view' posts_video.id %}">
                        <video controls loop autoplay muted width="300px">
                          <source src="{{ posts_video.video_post.url }}" type="video/mp4">
                        </video>
                    </a>
              
                 
                  </li>
                </ul>
              </div>
            {% else %}
            <div class="menu-bar">
                <ul>
                    <li>
                            <a href="{% url 'account:post-detail-view' posts_video.id %}">
                              <video controls loop autoplay muted width="300px">
                                <source src="{{ posts_video.video_post.url}}" type="video/mp4">
                              </video>                            
                            </a>
                    </li>
                </ul>
            </div>
            {% endif %}
           
    {% endfor %}

</div>

<!-- 
<script>
    var follower = "{{ request.user.id }}";
    document.getElementsByClassName('follow').value = follower;

    var user = "{{ user_object.id }}";
    document.getElementsByClassName('user').value = user;
</script> -->

{% endblock %}