<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        .navbar-nav{
                margin-left: auto;
        }
        #profile{
          background-color: aliceblue;
          border-radius: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark h3 ">
    <div class="container-fluid">
        <ul>
        <li class="nav-item ">
            <a class="nav-link active" href="{% url 'index' %}"><img src="{% static 'instagram.png' %}" alt="i9mg" width="50px"></a>
          </li>
        </ul>
      <ul class="navbar-nav" >
        
        <li class="nav-item">
          <a class="nav-link" href="#">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">contact</a>
        </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'account:upload' %}">post</a>
      </li>
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" >
           <img src="{{ request.user.Display.dp.url}}" alt="img" width="40px" id="profile"> {{ user.username}}
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'account:logout' %}">logout</a>
            <a class="dropdown-item" href="{% url 'account:profile-update-view'  %}">update</a>
            <a class="dropdown-item" href="{% url 'account:profile-detail-view' request.user.id %}">Profile</a>
         
          </div>
        </li>
        {% else %}
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'account:login' %}">login</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'account:signup' %}">signup</a>
        </li>
          {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">

{%block body_block%}
{% endblock %}
</div>

</body>
</html>